@model IEnumerable<BlaznWings.Models.PictureItem>

@{
    ViewBag.Title = "EditDeletePhotos";
}

<h1 style="text-align: center;">Edit/Delete Photos</h1>

<div style="padding-top: 40px; padding-bottom: 40px;text-align: center">
	@Html.ActionLink("Back To Manage Photos", "ManagePhotos", "Home", null, new { @class = "btn btn-danger",
	@style = "width:500px; "
})
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>

			@Html.DisplayFor(modelItem => item.Url)
			<br/>
            <img src="@item.Url" style="width: 200px; height: 200px; padding-right: 10px;"/>
        </td>
        <td>
            @Html.ActionLink("Edit Picture", "EditPhotoAsync", new { id=item.PictureItemID }) |
            @Html.ActionLink("Delete Picture", "DeletePhoto", new { id=item.PictureItemID })
        </td>
    </tr>
}

</table>
